@import colors

.PlayerCard
  min-width: 300px
  min-height: 300px
  margin: 10px
  margin-top: 12px

  &-mugshot
    height: 200px
    background-color: $red

  &-description
    background-color: $white
    padding: 10px 16px 14px 16px

  &-name
    font-size: 30px
    font-weight: normal
    line-height: 1
    letter-spacing: -0.4px
    margin: 0
    margin-bottom: 8px
    & strong
      letter-spacing: 0.4px

  &-club
    font-size: 16px
    font-weight: normal
    line-height: 1.2
    letter-spacing: -0.2px
    text-transform: uppercase
    color: $grey-dark
    margin: 0
    padding-left: 3px
