@import colors

.PlayerCard
  min-width: 288px
  min-height: 288px
  margin: 16px

  &-mugshot
    height: 200px
    background-color: $red

  &-description
    background-color: $white
    padding: 10px 18px 16px 18px

  &-name
    font-size: 30px
    font-weight: normal
    line-height: 1
    letter-spacing: -0
    margin: 0
    margin-bottom: 10px
    & strong
      letter-spacing: 0.4px

  &-club
    font-size: 16px
    font-weight: normal
    line-height: 1.2
    letter-spacing: -0.2px
    text-transform: uppercase
    color: $grey-dark
    margin: 0
    padding-left: 3px
